@import "helpers";

.main {
  height: 100vh;
  font-family:"Unica One", "Roboto Slab", serif;

  .overlay {
    padding-top: 150px;
    text-align: center;
    font-size:1.7rem;
    .baseline {
      font-size: 2.7rem;
      @include responsive(xs) {
        font-size:1.8rem;
      }
    }

    img {
      width: 600px;

      @include responsive(xs) {
        width: 100%;
      }
    }
  }

  .description {
    background-color: #fff;

    .title {
      margin-top: 15px;
      font-size: 3rem;
      color: $blue;
      border-right: solid $yellow 15px;
      text-align: right;
      padding: 10px;

      @include responsive(xs) {
        font-size:1.6rem;
      }
    }

    .title-left {
      text-align: left;
      border-left: solid $yellow 15px;
      border-right: none;
    }

    .about {
      font-family: Lato, "Roboto Slab", Serif, serif;
    }
  }

  #contacts {
    border-top: solid $yellow 5px;
    border-bottom: solid $darker-yellow 5px;
    margin: 0 0 0 25px;
    background-color: rgba(225, 177, 44, 0.34);
    padding: 20px;
    .contact {
      margin-top: 15px;
      margin-bottom: 15px;
      h4 {
        margin: 0;
        color: $blue;
      }
      p {
        font-weight: 600;
        text-align: center;
        border-top: solid $darker-yellow 2px;
      }
    }

  }
}



.location {
  .location-picture {
    min-height: 200px;
  }
}


#anchor-expo {
  background-color: #eadbb1;
  margin-bottom: 50px;
}

#anchor-practical-infos {
  border-left:solid  $yellow 3px;
  border-right:solid $yellow 3px;
}

#anchor-partners {
  .partner {
    .partner-picture {
      opacity: .33;
      @include transition("opacity ease .4s");
      &:hover {
        opacity: 1;
      }
    }
  }
}

#landing-page-content {
  font-family: Lato, "Roboto Slab", Roboto, serif;
}

.title {
  font-family:"Unica One", "Roboto Slab", serif;
  margin-top: 15px;
  margin-bottom: 15px;
  &.text-center {
    border-right: solid $yellow 15px;
    border-left: solid $yellow 15px;
  }
}

.speaker {
  min-height: 300px;
  cursor: pointer;
  padding: 45px !important;

  .speaker-name {
    font-family:"Unica One", "Roboto Slab", serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;

    a {
      color: $dark;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .speaker-picture {
    overflow: hidden;
    border-radius:50%;

    img {
      width: 100%;
      @include transition("transform ease .4s");
      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }
}