<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ '/static/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/bootstrap/bootstrap.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/font-awesome-4.7.0/css/font-awesome.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/aos/dist/aos.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/slick/slick.css' | url }}">
    <link rel="stylesheet" href="{{ '/plugins/slick/slick-theme.css' | url }}">

    <link rel="icon" type="image/png" href="{{ '/imgs/educode-logo-transparent-cropped.png' | url }}" />

    <title>{% block title %}Welcome{% endblock %} — EduCode</title>
</head>
<body>
<div class="container-fluid">
    {% set root_url = ['', '/', '/fr/', '/en/', '/nl/', '/es/', '/de/'] %}
    <!-- get current alternative -->
    {% for alternatives in root_url  %}
        {% if alternatives in this.url_path %}
            {% set alt = alternatives %}
        {% endif %}
    {% endfor %}

    <div class="row d-flex d-md-block flex-nowrap wrapper">
        {% if this.url_path in root_url %}
            <div id="sidebar" class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show">
                <div class="position-fixed col-md-2">

                    <div class="text-center brand">
                        <a href="{{ '/' | url }}">
                            <img src="{{ '/imgs/educode-logo-transparent.png' | url }}" alt="">
                        </a>
                    </div>

                    <div class="list-group border-0 card">
                        <a href="#program"
                           class="list-group-item d-inline-block collapsed"
                           data-toggle="collapse"
                           aria-expanded="false">{{ this.s_program }}</a>

                        <div class="collapse" id="program">
                            <a href="#anchor-overview" class="list-group-item">{{ this.s_overview_program }}</a>
                            {% if alt == 'fr' %}
                                {% set alt = '' %}
                            {% else %}
                                {% set alt = '/' + alt %}
                            {% endif %}
                            <a href="{{ alt + '/dimanche-26-aout' | url }}" class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ this.s_sunday_26 }}</a>
                            <a href="{{ alt + '/lundi-27-aout'    | url }}" class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ this.s_monday_27 }}</a>
                            <a href="{{ alt + '/mardi-28-aout'    | url }}" class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ this.s_thuesday_28 }}</a>
                            <a href="{{ alt + '/mercredi-29-aout' | url }}" class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ this.s_wednesday_29 }}</a>
                        </div>
                        <a href="#anchor-speakers"        class="list-group-item d-inline-block">{{ this.s_speakers }}</a>
                        <a href="#anchor-expo"            class="list-group-item d-inline-block">{{ this.s_expo }}</a>
                        <a href="#anchor-partners"        class="list-group-item d-inline-block">{{ this.s_partners }}</a>
                        <a href="#anchor-inscription"     class="list-group-item d-inline-block">{{ this.s_registration }}</a>
                        <a href="#anchor-practical-infos" class="list-group-item d-inline-block">{{ this.s_practical_infos }}</a>
                        <a href="#anchor-submissions"     class="list-group-item d-inline-block">{{ this.s_submissions }}</a>
                        <a href="#anchor-press"           class="list-group-item d-inline-block">{{ this.s_press }}</a>
                        <a href="#anchor-contact"         class="list-group-item d-inline-block">{{ this.s_contact }}</a>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-6 text-center mb-1">
                                    <a href="https://www.bozar.be/fr" target="_blank"><img width="56px" src="{{ "/partenaires/bozar/image-bozar.png" | url }}" alt="Bozar"></a>
                                </div>
                                <div class="col-6 text-center mb-1">
                                    <a href="https://www.digitalwallonia.be" target="_blank"><img width="56px" src="{{ "/partenaires/digital-wallonia/digitalwallonia-logo-degrades-358x259.png" | url }}" alt="Digital Wallonia"></a>
                                </div>
                                <div class="col-6 text-center">
                                    <a href="http://be.brussels" target="_blank"><img width="56px" src="{{ "/partenaires/region-de-bruxelles-capitale/logotype_2_rgb_72_blanc.jpg" | url }}" alt="Région de Bruxelles-Capitale"></a>
                                </div>
                                <div class="col-6 text-center">
                                    <a href="http://www.federation-wallonie-bruxelles.be" target="_blank"><img width="72px" src="{{ "/imgs/fwb.png" | url }}" alt="Région de Bruxelles-Capitale"></a>
                                </div>
                                <div class="col-6 text-center">
                                    <a href="http://lapremiere.be" target="_blank"><img width="72px" src="{{ "/partenaires/la-premiere/logo_lp_2017_rvb_filet.png" | url }}" alt="La Première"></a>
                                </div>
                                <div class="col-6 text-center">
                                    <a href="http://rtbf.be/music3" target="_blank"><img width="72px" src="{{ "/partenaires/music3/logo_m3_rvb_15.png" | url }}" alt="Music3"></a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="license text-center police-normal small p-2">{{ render_cc_license("by-sa", "normal") }}</div>
                        <!-- &copy; Copyleft 2018 by Nicolas Pettiaux. -->
                    </div>
                </div>
            </div>

        {% else %}
            {% set root_page = site.get_root(alt=alt) %}
            <div id="sidebar" class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show">
                <div class="position-fixed col-md-2">
                    <div class="text-center brand">
                        <a href="{{ '/' | url }}">
                            <img src="{{ '/imgs/educode-logo-transparent.png' | url }}" alt="">
                        </a>
                    </div>
                    <div class="list-group border-0 card text-center ">
                        <a href="#program"
                           class="list-group-item d-inline-block collapsed"
                           data-toggle="collapse"
                           aria-expanded="false">{{ root_page.s_program }}</a>
                        {% if alt == 'fr' %}
                                {% set alt = '' %}
                            {% else %}
                                {% set alt = '/' + alt %}
                            {% endif %}

                        <div class="collapse" id="program">
                            <a href="{{ '#anchor-overview' }}" class="list-group-item">{{ root_page.s_overview_program }}</a>
                            <a href="{{ alt + '/dimanche-26-aout' | url }}" class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ root_page.s_sunday_26 }}</a>
                            <a href="{{ alt + '/lundi-27-aout'    | url }}" class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ root_page.s_monday_27 }}</a>
                            <a href="{{ alt + '/mardi-28-aout'    | url }}" class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ root_page.s_thuesday_28 }}</a>
                            <a href="{{ alt + '/mercredi-29-aout' | url }}" class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ root_page.s_wednesday_29 }}</a>
                        </div>
                        <a href="{{ alt + '/#anchor-speakers'        }}" class="list-group-item d-inline-block collapsed">{{ root_page.s_speakers }}</a>
                        <a href="{{ alt + '/#anchor-expo'            }}" class="list-group-item d-inline-block collapsed">{{ root_page.s_expo }}</a>
                        <a href="{{ alt + '/#anchor-partners'        }}" class="list-group-item d-inline-block collapsed">{{ root_page.s_partners }}</a>
                        <a href="{{ alt + '/#anchor-inscription'     }}" class="list-group-item d-inline-block collapsed">{{ root_page.s_registration }}</a>
                        <a href="{{ alt + '/#anchor-practical-infos' }}" class="list-group-item d-inline-block collapsed">{{ root_page.s_practical_infos }}</a>
                        <a href="{{ alt + '/#anchor-submissions'     }}" class="list-group-item d-inline-block collapsed">{{ root_page.s_submissions }}</a>
                        <a href="{{ alt + '/#anchor-press'           }}" class="list-group-item d-inline-block collapsed">{{ root_page.s_press }}</a>
                        <a href="{{ alt + '/#anchor-contact'         }}" class="list-group-item d-inline-block collapsed">{{ root_page.s_contact }}</a>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-6 text-center mb-1">
                                    <a href="https://www.bozar.be/fr" target="_blank"><img width="56px" src="{{ "/partenaires/bozar/image-bozar.png" | url }}" alt="Bozar"></a>
                                </div>
                                <div class="col-6 text-center mb-1">
                                    <a href="https://www.digitalwallonia.be" target="_blank"><img width="56px" src="{{ "/partenaires/digital-wallonia/digitalwallonia-logo-degrades-358x259.png" | url }}" alt="Digital Wallonia"></a>
                                </div>
                                <div class="col-6 text-center">
                                    <a href="http://be.brussels" target="_blank"><img width="56px" src="{{ "/partenaires/region-de-bruxelles-capitale/logotype_2_rgb_72_blanc.jpg" | url }}" alt="Région de Bruxelles-Capitale"></a>
                                </div>
                                <div class="col-6 text-center">
                                    <a href="http://www.federation-wallonie-bruxelles.be" target="_blank"><img width="72px" src="{{ "/imgs/fwb.png" | url }}" alt="Région de Bruxelles-Capitale"></a>
                                </div>
                                <div class="col-6 text-center">
                                    <a href="http://lapremiere.be" target="_blank"><img width="72px" src="{{ "/partenaires/la-premiere/logo_lp_2017_rvb_filet.png" | url }}" alt="La Première"></a>
                                </div>
                                <div class="col-6 text-center">
                                    <a href="http://rtbf.be/music3" target="_blank"><img width="72px" src="{{ "/partenaires/music3/logo_m3_rvb_15.png" | url }}" alt="Music3"></a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="license text-center">{{ render_cc_license("by-sa", "normal") }}</div>
                        <!-- &copy; Copyleft 2018 by Nicolas Pettiaux. -->
                    </div>
                </div>
            </div>
        {% endif %}
        <main class="col-md-10 float-left col p-0 main">
            <div class="container-fluid">
                <div class="language row">
                    <div class="col-12">
                        <span class="text-white">Langue</span>

                        <a class="language-link {% if this.url_path == '/'  %} {{ 'current' }} {% endif %}" href="{{ this.path | url(alt='fr') }}">
                            <img width="16px" height="16px" src="{{ '/imgs/fr.png' | url }}" alt=""> FR
                        </a>
                        <a class="language-link {% if '/nl/' in this.url_path  %} {{ 'current' }} {% endif %}" href="{{ this.path | url(alt='nl') }}">
                            <img width="16px" height="16px" src="{{ '/imgs/nl.png' | url }}" alt=""> NL
                        </a>

                        <!--
                        <a class="language-link {% if '/en/' in this.url_path  %} {{ 'current' }} {% endif %}" href="{{ this.path | url(alt='en') }}">
                            <img width="16px" height="16px" src="{{ '/imgs/gb.png' | url }}" alt=""> EN
                        </a>
                        <a class="language-link {% if '/de/' in this.url_path  %} {{ 'current' }} {% endif %}" href="{{ this.path | url(alt='de') }}">
                            <img width="16px" height="16px" src="{{ '/imgs/de.png' | url }}" alt=""> DE
                        </a>
                        <a class="language-link {% if '/es/' in this.url_path  %} {{ 'current' }} {% endif %}" href="{{ this.path | url(alt='es') }}">
                            <img width="16px" height="16px" src="{{ '/imgs/es.png' | url }}" alt=""> ES
                        </a>
                        -->

                    </div>
                </div>
            </div>
            <div id="content-wrapper">
                <a id="menu-icon" href="#" data-target="#sidebar" data-toggle="collapse">
                    <i class="fa fa-navicon d-md-none"></i>
                </a>
                {% block baseline %}{% endblock %}
                {% block content %}{% endblock %}
            </div>

        </main>
    </div>
</div>

<script src="{{ '/plugins/jquery.min.js' | url }}"></script>
<script src="{{ '/plugins/bootstrap/bootstrap.min.js' | url }}"></script>
<script src="{{ '/plugins/aos/dist/aos.js' | url }}"></script>
<script src="{{ '/plugins/slick/slick.min.js' | url }}"></script>

<script>
    $(function () {

        if (getBootstrapBreakpoint() !== 'xs') {
            $('#sidebar').addClass('show');
        } else {
            $('#sidebar').removeClass('show');
        }

        $(document).on("scroll", onScroll);


        {% if this == site.get_root() %}
            window.history.pushState("object or string", "Welcome - EduCode", "{{ this.path | url(alt=alt) }}");
        {% endif %}

        var $root = $('html, body');
        var $document = $(document);
        var $links = $('a[href^="#anchor"]');

        $document.on('click', 'a[href^="#anchor"]', function (e) {
            e.preventDefault();
            $document.off("scroll");
            $links.removeClass("selected");
            $(this).addClass("selected");

            var target = this.hash,
                menu = target;
            var $target = $(target);

            $root.stop().animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top + 2
            }, 500, 'swing', function () {
                window.location.hash = target;
                $document.on("scroll", onScroll);
            });

            return false;
        });

        function onScroll(event) {
            let scrollPos = $document.scrollTop();
            $links.each(function () {
                let currLink = $(this);
                let refElement = $(currLink.attr("href"));
                if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
                    $links.removeClass("selected");
                    currLink.addClass("selected");
                }
                else{
                    currLink.removeClass("selected");
                }
            });
        }

        $(window).on('resize', function (e) {
            if (getBootstrapBreakpoint() !== 'xs') {
                $('#sidebar').addClass('show');
            } else {
                $('#sidebar').removeClass('show');
            }
        });
    });

    function getBootstrapBreakpoint() {
        var w = $(document).innerWidth();
        return (w < 768) ? 'xs' : ((w < 992) ? 'sm' : ((w < 1200) ? 'md' : 'lg'));
    }

</script>

{% block javascript %}{% endblock %}

</body>
</html>

