{% extends "layout.html" %}

{% block baseline %}
<div class="container overlay">
    <img data-aos="zoom-in" data-aos-delay="500" src="{{ '/imgs/educode-logo-transparent.png' | url }}" alt="">
    <h1 data-aos="fade-down" data-aos-delay="100" class="color-dark">{{ this.title }}</h1>
    <p data-aos="zoom-in" data-aos-delay="300" class="baseline color-darker-yellow"><strong>{{ this.baseline }}</strong></p>
    <hr>
</div>
{% endblock %}

{% block content %}
    <div id="landing-page-content" class="container-fluid description">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="title">< À propos d'EduCode /></h4>
                    <div class="about">
                        {{ this.about }}
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div id="anchor-overview" class="col-12">
                    <h4 class="title title-left"><i class="fa fa-calendar-o" aria-hidden="true"></i> Aperçu du programme</h4>
                </div>


                <div class="col-12 col-sm-4" data-aos="fade-down-right" data-aos-delay="100">
                    <h3 class="text-center">Lundi <span style="color: #e0a800; font-weight: 600;font-size: 1.3em;">27</span></h3>
                    {{ this.monday }}
                    <div class="text-center">
                        <a href="{{ '/lundi-27-aout' | url }}" class="btn btn-warning">Plus d'infos</a>
                    </div>
                </div>


                <div class="col-12 col-sm-4" data-aos="fade-down" data-aos-delay="400">
                    <h3 class="text-center">Mardi <span style="color: #e0a800; font-weight: 600;font-size: 1.3em;">28</span></h3>
                    {{ this.thuesday }}
                    <div class="text-center">
                        <a href="{{ '/mardi-28-aout' | url }}" class="btn btn-warning">Plus d'infos</a>
                    </div>
                </div>


                <div class="col-12 col-sm-4" data-aos="fade-down-left" data-aos-delay="200">
                    <h3 class="text-center">Mercredi <span style="color: #e0a800; font-weight: 600;font-size: 1.3em;">29</span></h3>
                    {{ this.wednesday }}
                    <div class="text-center">
                        <a href="{{ '/mercredi-29-aout' | url }}" class="btn btn-warning">Plus d'infos</a>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>

                <div id="anchor-speakers" class="col-12">
                    <h4 class="title text-center">{ <i class="fa fa-users" aria-hidden="true"></i>  Intervenants  }</h4>
                </div>

                <!-- On récupère tous les intervenants -->
                {% set speakers = site.query('/intervenants').include_hidden(false).all() %}
                {% if speakers %}
                  {% for speaker in speakers %}
                    <div class="col-6 col-sm-4 col-md-3 speaker" data-aos="fade-down-right" data-aos-delay="300">
                        {% set pictures = speaker.attachments %}
                        {% if pictures %}
                            {% set profile_picture = pictures | first %}
                            <div class="speaker-picture">
                                <a href="{{ speaker.url_path }}">
                                    <img src="{{ profile_picture | url }}" alt="">
                                </a>
                            </div>
                        {% else %}
                            <div class="speaker-picture">
                                <a href="{{ speaker.url_path }}">
                                    <img src="{{ '/imgs/user.png' }}" alt="">
                                </a>
                            </div>
                        {% endif %}
                        <h4 class="speaker-name text-center">
                            <a href="{{ speaker.url_path }}">
                                {{ speaker.title }}
                            </a>
                        </h4>
                    </div>
                  {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="row">
                <div id="anchor-expo" class="col-12">
                    <h4 class="title text-center"> ___ Expositions ___ </h4>
                    <div id="expo-about">
                        {{ this.expo_about }}
                    </div>
                    <a href="#">{{ this.text_button }}</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="anchor-partners" class="col-12">
                    <h4 class="title text-center">{ <i class="fa fa-users" aria-hidden="true"></i>  Partenaires  }</h4>
                </div>

                <div id="anchor-inscription" class="col-12">
                    <h4 class="title text-center">{ <i class="fa fa-users" aria-hidden="true"></i>  Inscription  }</h4>
                </div>

                <div id="anchor-practical-infos" class="col-12">
                    <h4 class="title text-center background-color-yellow color-blue border-blue">
                        /*  Infos pratiques  */
                    </h4>
                    <div class="container practical-info-markdown">
                        {{ this.practical_infos }}
                    </div>

                </div>

                <div id="anchor-press" class="col-12">
                    <h4 class="title text-center">{ <i class="fa fa-users" aria-hidden="true"></i>  Presse  }</h4>
                </div>

                <div id="anchor-contact" class="col-12">
                    <h4 class="title title-left"><i class="fa fa-users" aria-hidden="true"></i>  Contact {</h4>
                    <div id="contacts">
                        <div class="container">
                            <div class="row">
                                <!-- On récupère tous les contacts -->
                                {% set contacts = site.query('/contacts').include_hidden(false).all() %}
                                {% if contacts %}
                                  {% for contact in contacts %}
                                    <div class="col-12 col-sm-4 contact" data-aos="fade-up">
                                        <h4 class="speaker-name text-center"><strong>{{ contact.name }}</strong></h4>
                                        <p class="color-dark">{{ contact.role }}</p>
                                        <ul>
                                            <li><i class="fa fa-phone"></i> {{ contact.tel }}</li>
                                            <li><i class="fa fa-envelope"></i> {{ contact.mail }}</li>
                                        </ul>
                                    </div>
                                  {% endfor %}
                                {% endif %}


                            </div>
                        </div>
                    </div>
                    <h4 class="title title-left">}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascript %}
    <script>
        AOS.init();
    </script>
{% endblock %}

